html {
    background-image: url(media/back.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*Настройки фоновой картинки, 
    растягивающие её по длине экрана*/

}

.avatar {
    width: 500px;
    border: 20px;
    margin: auto;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

h1 {
    text-align: center;
}

.name {
    background: rgba(0, 170, 255, 0.01);
    /*Последний параметр регулирует 
    прозрачность фона элемента*/
}